* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: OpenSans-Normal;
  src: url(../fonts/OpenSans-Regular.woff);
  font-style: normal;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url(../fonts/OpenSans-Bold.woff);
  font-style: bold;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.topic {
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  position: relative;
  z-index: 0;
}

.topic:after {
  content: '';
  position: absolute;
  background-color: #000000;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.topic-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-head {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  padding-top: 10px;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.menu-list-item:nth-child(n+2) {
  margin-left: 35px;
}

.menu-list-item:hover {
  text-decoration: underline;
}

.menu-link {
  font-family: OpenSans-Normal;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #ffffff;
}

.topic-title {
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.trend {
  max-width: 1660px;
  min-width: 1201px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.trend .info-title {
  font-size: 20px;
  font-family: OpenSans-Bold;
}

.trend-posts {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.trend-post {
  position: relative;
  color: #ffffff;
}

.trend-post:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.trend-post-info {
  width: 90%;
  border: 3px solid rgba(181, 159, 91, 0.6);
  position: absolute;
  left: 5%;
  bottom: 7%;
  padding: 7.5%;
  z-index: 2;
}

.trend-post .post-location-link-title {
  font-size: 14px;
}

.trend-post .post-title-text {
  font-size: 20px;
  color: white;
}

.content {
  margin: 48px auto;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
}

.post {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  margin-bottom: 0.8em;
  color: #0f0d0e;
  font-family: OpenSans-Normal;
  font-size: 15px;
  line-height: 22px;
}

.post:nth-child(n+2) {
  margin-top: 57px;
}

.post-preview {
  width: 381px;
}

.post-img {
  width: 100%;
}

.menu-location {
  list-style: none;
}

.post-location {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
}

.post-location-link-title {
  color: #b59f5b;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 14px;
  text-decoration: none;
  margin-rignt: 19px;
}

.post-location-link:nth-child(n+1) {
  margin-right: 19px;
}

.post-location-link-title:hover {
  text-decoration: underline;
}

.post-title {
  margin-top: 6px;
}

.post-title-link {
  text-decoration: none;
}

.post-title-text {
  color: #0f0d0e;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
}

.post-title-text:hover {
  color: #b59f5b;
}

.post-data {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.post-data-date {
  color: #888888;
  font-family: OpenSans-Normal;
  font-size: 12px;
  line-height: 40px;
}

.post-data-author {
  margin-left: 12px;
  color: #000000;
  font-family: OpenSans-Bold;
  font-size: 12px;
  line-height: 40px;
}

.post-data-author:first-letter {
  text-transform: uppercase;
}

.post-content {
  width: 100%;
  margin-top: 35px;
  text-decoration: none;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.info-title {
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.info-title:after {
  display: block;
  content: '';
  background: #b59f5b;
  width: 66px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.list-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 26px;
}

.list-post {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.list-post:nth-child(n+2) {
  margin-top: 19px;
}

.list-post-preview {
  width: 70px;
  min-height: 70px;
  display: flex;
	justify-content: center;
}

.list-post-img {
  width: 100%;
  object-fit: cover;
}

.list-post-info {
  width: 182px;
  margin-left: 20px;
}

.list-post-date {
  color: #888888;
  font-family: OpenSans-Normal;
  font-size: 12px;
}

.list-post-title {
  text-decoration: none;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  color: #000000;
  font-size: 14px;
  margin-top: 6px;
}

.list-post-title:hover {
  color: #b59f5b;
}

h3 {
  line-height: 0.9em;
}

.finder {
  display: flex;
  flex-direction: row;
  margin-top: 57px;
  margin-bottom: 60px;
}

.finder-field {
  width: 223px;
  height: 47px;
  border: none;
  font-size: 13px;
  background-color: #f4f7f6;
  padding-left: 18px;
  padding-right: 18px;
  font-family: OpenSans-Normal;
  outline: 1px solid #f4f7f6;
}

.finder-field:focus {
  outline: 1px solid #b59f5b;
}

.finder-button {
  height: 47px;
  width: 47px;
  border: none;
  cursor: pointer;
  background-color: #b59f5b;
  background-image:url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  outline: 1px solid #b59f5b;
}

.finder-button:hover {
  background-color: #323232;
  outline: 1px solid #323232;
}

.mailing {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.mailing-title {
  font-family: OpenSans-Bold;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.mailing-field {
  height: 47px;
  width: 100%;
  border: none;
  background-color: #f4f7f6;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 20px;
  font-family: OpenSans-Normal;
  font-size: 13px;
}

.mailing-field:focus {
  outline-color: #b59f5b;
  outline: 1px solid #b59f5b;
}

.mailing-button {
  margin-top: 18px;
  height: 47px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: #b59f5b;
  text-transform: uppercase;
  font-family: OpenSans-Bold;
  font-size: 14px;
  color: #ffffff;
}

.mailing-button:hover {
 background-color: #323232;
}

.tegs {
  margin-bottom: 60px;
}

.teg-list {
  width: 100%;
  margin-left: auto;
	margin-right: auto;
  margin-top: 22px;
  list-style: none;
  display: flex;
	flex-wrap: wrap;
	flex-direction: raw;
}

.teg-list-item {
  padding: 4px 13px;
  border: 3px solid #f4f3f1;
  margin-right: 5px;
}

.teg-list-item:hover {
  border: 3px solid #b59f5b;
}

.teg-list-item:nth-child(n+4) {
  margin-top: 4px;
}

.teg-list-item-link {
  font-family: OpenSans-Bold;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  color: #0f0d0e;
}

.themes {
  width: 100%;
  margin-top: 5px;
}

.themes-list {
  list-style: none;
}

.themes-item {
  border-bottom: 1px solid #eeeeee;
}

.themes-item:first-letter {
  text-transform: uppercase;
}

.themes-item-title {
  text-decoration: none;
  font-family: OpenSans-Bold;
  font-size: 14px;
  line-height: 47px;
  color: #000000;
  padding-top: 5px;
}

.themes-item-title:hover {
  color: #b59f5b;
}

.themes-item-number {
  font-family: OpenSans-Bold;
  font-size: 12px;
  color: #b59f5b;
}

.shop {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop .info-title {
  font-size: 20px;
}

.shop-items {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shop-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-item-info {
  width:100%;
  margin-top: -35px;
  padding: 42px 20px 25px 20px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  flex-grow: 1;
}

.shop-item-preview {
  width: 300px;
}

.shop-item-text {
  margin-top: 5px;
}

.shop-item-buy {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.price-old, .price-new {
  font-family: OpenSans-Bold;
  padding-bottom: 5px;
}

.price-old {
  font-size: 14px;
  text-decoration: line-through;
}

.price-new {
  font-size: 20px;
  margin-top: -10px;
}

.shop-item-buttom .mailing-button {
  margin: 0;
  padding: 10px 27px;
}

.bottom {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.bottom-container {
  width: 1170px;
  height: 84px;
  background-color: #f4f7f6;
  margin-bottom: 65px;
  margin-right: auto;
  margin-left: auto;
}

.social {
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.social-item {
  list-style: none;
}

.social-item-logo {
  display: block;
}

.social-item-img {
  width:20px;
}

.copyright {
  font-family: OpenSans-Bold;
  text-align: center;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

/* -----------------DESKTOP------------------------ */
@media (min-width: 1201px) {
  .topic {
    background-image: url('../img/banner-bg.jpg');
  }

  .topic-container {
    max-width: 1200px;
    padding: 30px 15px 0 15px;
  }

  .topic-logo {
    width: 179px;
  }

  .topic-title {
    font-size: 45px;
    line-height: 75px;
    width: 700px;
    padding-bottom: 123px;
    padding-top: 100px;
  }

  .trend {
    max-width: 1660px;
    min-width: 1201px;
    padding-top: 67px;
  }

  .trend-post {
    width: 24.75%;
  }

  .trend-post:nth-child(4n-3) {
    margin-right: 0.33%;
  }

  .trend-post:nth-child(4n-1) {
    margin-right: 0.33%;
    margin-left: 0.33%;
  }

  .content {
    width: 1200px;
  }

  .posts {
    width: 778px;
  }

  .post-info {
    width: 367px;
    margin-left: 30px;
  }

  .info {
    width: 270px;
    margin-left: 122px;
  }

  .shop {
    width: 1200px;
    padding: 0 15px;
  }

  .shop-item {
    width: 345px;
  }

}
/* -----------------TABLET------------------------ */
@media (min-width: 641px) and (max-width: 1200px) {
  .topic {
    background-image: url('../img/banner-bg-tablet.jpg');
  }

  .topic-container {
    min-width: 641px;
    max-width: 1200px;
    padding: 50px 35px;
  }

  .topic-logo {
    width: 158px;
  }

  .menu {
    display: none;
  }

  .topic-title {
    font-size: 40px;
    width: 620px;
    padding-top: 85px;
    padding-bottom: 65px;
  }

  .trend {
    min-width: 641px;
    max-width: 1200px;
    margin-top: 50px;
  }

  .trend .info-title {
    font-size: 18px;
    font-family: OpenSans-Bold;
  }

  .trend-posts {
    margin-top: 18px;
  }

  .trend-post {
    width: 49.5%;
  }

  .trend-post-preview {
    height: 245px;
  }

  .post-img {
    height: 100%;
  }

  .trend-post .post-title-text {
    font-size: 17px;
  }

  .trend-post:nth-child(odd) {
    margin-right: 1%;
  }

  .trend-post:nth-child(n+3) {
    margin-top: 1%;
  }

  .content {
    width: 697px;
    margin: 40px auto;
    padding: 8px 0;
  }

  .post:nth-child(n+2) {
    margin-top: 42px;
  }

  .posts {
    width: 392px;
  }

  .post-preview {
    width: 392px;
  }

  .post-info {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    padding-bottom: 6px;
    border-bottom: 3px solid #eeeeee;
  }

  .post-title-text {
    font-size: 17px;
  }

  .post-content {
    margin-top: 15px;
  }

  .post-content p {
    font-size: 15px;
  }

  .info {
    width: 270px;
    margin-left: 35px;
  }

  .shop {
    width: 697px;
  }

  .shop .info-title {
    font-size: 18px;
  }

  .shop-item {
    width: 337px;
  }

  .shop-item:nth-child(n+3) {
    margin-top: 27px;
  }

  .bottom-container {
    min-width: 641px;
    max-width: 1200px;
    padding: 0 15px 0 15px;
    margin-top: 64px;
  }

}
/* -----------------MOBILE------------------------ */
@media (max-width: 640px) {
  .topic {
  background-image: url('../img/banner-mobile.jpg');
}
}
/* ----------------------------------------- */
